@font-face {
  font-family: 'Dongle';
  src: local('Dongle'), url(./components/Dongle/Dongle-Light.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}